header{
    background-color: #22CC7E;
    padding-top: 10px;
    padding-bottom: 10px;
    font: bold;
}

#WebsiteTitle{
    padding-left: 20px;
}

nav{
    font: rgb(255, 255, 255);
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
}

nav li{
    
}


nav li a {
    font-weight: 500;
    text-decoration: none;
    background-color: #22CC7E;
    cursor: pointer;
    padding: 8px;
    border-radius: 25px;
}

nav li a:hover{
    background-color: azure ;
}

.navbutton{
    height: 50px;
}