/* reset ----------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #eb6b44;
    padding-top: 10px;
    padding-bottom: 10px;
    font: bold;
}

#WebsiteTitle{
    font-family: 'Krona One', sans-serif;
    padding: 35px 10px;
    color:black;
}
/* navigation -------------------------------------*/
.alien_nav{
    padding-left: 10px;
}
#mainimg{
    margin-top: 60px;
    margin-right: 30px;
    padding: 20px;
}

/*
nav{
    font: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    align-items: center;
}
*/
nav{
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

nav li a{
    text-decoration: none;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: rgb(255, 255, 255);
    
}

/*
nav li a {
    font-weight: 500;
    text-decoration: none;
    background-color: #c7c7c7;
    cursor: pointer;
    padding: 8px;
    border-radius: 25px;
}
*/

nav li a:hover{
    background-color: rgb(109, 109, 109) ;
}

.navbutton{
    height: 50px;
}

#tagline{
    font-size: 45px;
    margin-left: 50px;
    margin-top: 250px;
}

#home{
    color: #eb6b44;
}

/* body --------------------------------------------*/
.alien_body{
    justify-content: space-around;
    display: flex;
}

.aboutus{
    width: 600px;
    margin-left: 50px;
    padding: 5px;

   /* animation: type 4s steps(370);
    overflow: hidden;
    white-space: nowrap; */
    
}

.aboutuspara{
    font-size: 20px;
    text-align: justify;
}

/*
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 370ch;
    }
}
*/

/* footer -----------------------------------------------------*/
.alien_footer{
    padding:1.5%;
    justify-content: center;
    font-family: monster_regular;
    background-color: black;
    color: white;
}
#change{
    fill:white;
}
footer div a{
    text-decoration: none;
}
footer div a svg{
    margin: 0px 5px;
}
footer p{
    padding: 5px 0;
}
footer p a{
    text-decoration: none;
    color: #eb6b44;
    font-size: large;
}